body {
  font-family: 'Dokdo', cursive;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc; /* 베이지 색상 */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 10px; /* 끝이 모난 사각형 모양 */
  margin-right: 10px;
  font-family: 'Dokdo', cursive; /* 버튼 글꼴 */
}

.result-container {
  border: 1px solid #ccc;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff; /* 텍스트 블록 배경색 */
}

#check-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 10px; /* 끝이 모난 사각형 모양 */
  cursor: pointer;
  font-family: 'Dokdo', cursive; /* 버튼 글꼴 */
}

#download-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 10px; /* 끝이 모난 사각형 모양 */
  text-decoration: none;
  font-family: 'Dokdo', cursive; /* 버튼 글꼴 */
}

/* 추가된 CSS */
#uploaded-image {
  max-width: 100%;
  display: none; /* 초기에는 숨김 상태로 지정 */
}
