body {
  background-color: #cccccc;
  background-size: cover;
  font-family: 'Dokdo', cursive; /* Dokdo 폰트 설정 */
}
h1 {
  font-size: 3em; /* 원하는 크기로 조정 */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
 
  background-size: cover;
  max-width: 800px;
  margin: 30px auto;
}

/* 나머지 요소들의 스타일링 */

.oval-button {
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1.2em;
  background-size: cover;
  /* 타원형 버튼 스타일 */
}

.paper-button {
  border: none;
  background-image: url('path/to/your/paper-image.png'); /* 양피지 이미지 경로 추가 */
  background-size: cover;
  padding: 15px 40px;
  font-size: 1.em;
  margin-bottom: 10px;
  cursor: pointer;
  /* 양피지 모양 버튼 스타일 */
}
.text-area{
  background-color: white; /* 흰색으로 배경색 설정 */
  /* 기타 스타일링 */
}
.rectangle-button {
  background-size: cover;
  padding: 15px 20px;
  font-size: 1.3em;
  cursor: pointer;
  /* 둥근 사각형 버튼 스타일 */
}
